@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

/*========= Color default #4a90e2ff ==================================================*/

/* Background */
.bg-default {
    background-color: #4a90e2ff !important;
}

/* Text and links */
a.bg-default:hover, a.bg-default:focus,
button.bg-default:hover,
button.bg-default:focus {
    background-color: #396da8 !important;
}
.text-default {
    color: #4a90e2ff !important;
}
a.text-default:hover, a.text-default:focus {
    color: #396da8 !important;
}

/*============ Button ========================================================*/
.btn-default {
color: #fff;
background-color: #4a90e2ff;
border-color: #4a90e2ff;
}

.btn-default:hover {
color: #fff;
background-color: #396da8;
border-color: #396da8;
}

.btn-default:focus, .btn-default.focus {
box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-default.disabled, .btn-default:disabled {
color: #fff;
background-color: #007bff;
border-color: #007bff;
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
color: #fff;
background-color: #0062cc;
border-color: #005cbf;
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}


/*======= Web Site Style ========================================================*/
#scrolling{
    transition: .6s !important;
    height: 150px;
}
#logo{
    transition: .6s !important;
    height: 90px;
}
section.home{
    position: relative;
    height: 100%;
    background: url("../img/43688[inverted].jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-img-feacture{
    width: 100%;
    max-width: 300px;
}
.img-about-us{
    background: url("../img/43688.jpg");
    background-position: center;
    background-size: cover;
}

/* Media query */
@media(max-width: 767px) {
    #hidden{
        display: none;
    }
}

/*============== Boot ========================================================*/
.f-size-10{
    font-size: 10px;
}
.f-size-18{
    font-size: 18px;
}
.f-size-120{
    font-size: 120px;
}
.font-weight-medium{
    font-weight: 500;
}
.text-black-70{
    color: rgba(0, 0, 0, 0.7);
}
.border-right-light{
    border-right: 2px solid rgb(168, 168, 168);

}
.btn-size-2{
    width: 120px;
    height: 50px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;

    background: #00000050;
    z-index: 0;
}
.overlay-child{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #000000ad;
    z-index: 0;
}